Package: enigma2-plugin-extensions-moviebrowser
Version: 3.7rc5
Description: Movie Browser Plugin
Architecture: all
Section: extra
Priority: optional
Maintainer: kashmir
Homepage: http://www.kashmir-plugins.de
Source: http://www.kashmir-plugins.de
